html, body {
    height: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Droid Sans", Arial, sans-serif;
    background: #333 url('bg.png');
    background-attachment: fixed;
}

#page-container {
    width: 100%;
    min-height: 100%;
    position: relative;
    z-index: 1;
    background: #f6f6f6;
    padding: 1em 0;
    box-shadow: #000 0 0 32px;
    -webkit-box-shadow: #000 0 0 32px;
    -moz-box-shadow: #000 0 0 32px;
    -ms-box-shadow: #000 0 0 32px;
}

h1, h2, h3, h4 {
    padding: 0;
    margin: 0;
    margin-bottom: .5em;
    color: #111;
    text-transform: uppercase;
}

h2 {
    color: #444;
}

#content {
    margin: 0 auto;
    line-height: 1.5em;
    color: #444;
    max-width: 600px;
}

@media all and (max-width: 680px) {
    #content {
        padding: 0 20px;
    }
    .info {
        float: left;
    }
}

footer {
    width: 100%;
    position: absolute;
    height: 100px;
    overflow: hidden;
    margin-top: -16px;
}

.inner-footer {
    position: fixed;
    color: #e6e6e6;
    height: 100px;
    width: 100%;
    clear: both;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0 auto;
}

.inner-footer div {
    padding: .5em;
    margin: 0 auto;
    max-width: 600px;
}

.face {
    float: left;
    clear: left;
    margin-right: 2em;
    box-shadow: 2px 2px 6px #000;
    -webkit-box-shadow: 2px 2px 6px #000;
    -moz-box-shadow: 2px 2px 6px #000;
    -ms-box-shadow: 2px 2px 6px #000;
    transition: filter .5s;
    -webkit-transition: -webkit-filter .5s;
    -moz-transition: -moz-filter .5s;
    -ms-transition: -ms-filter .5s;
    filter: grayscale(60%);
    -webkit-filter: grayscale(60%);
    -moz-fitler: grayscale(60%);
    -ms-filter: grayscale(60%);
    max-width: 100%;
}

.face:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-fitler: grayscale(0%);
    -ms-filter: grayscale(0%);
}

.links {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.links li {
    line-height: 2em;
    font-size: 1.2em;
}

a:link, a:visited {
    color: #36a;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

a:hover {
    color: #259;
    text-decoration: underline;
}

a:active {
    color: #000;
}

footer p {
    margin: 0;
    line-height: 100px;
}

footer p {
    float: left;
}

footer .links {
    float: right;
}

footer .links li {
    float: left;
    font-size: .9em;
    margin-left: 1em;
    line-height: 100px;
}

footer .links a:link, footer .links a:visited {
    color: #acf;
}

footer .links a:hover {
    color: #9be;
}

footer .links a:active {
    color: #fff;
}
